<!doctype html>
<html lang="en" xmlns:ng="http://angularjs.org">
	<head>
		<meta charset="UTF-8">
		<title>Forum - Communication for teams</title>

		<link href="http://static.nimbusfoundry.com/css/default.min.css" rel="stylesheet" />
		<link href="assets/css/styles.css" rel="stylesheet" />
	</head>
	<body ng-cloak>
		<!-- /.navbar -->
		<ul class="menu">
			<li class="brand">
				<img id="logo" src="forum/plugins/forum/forum_logo.gif" />
				<a id="user" data-toggle="dropdown">
					<img id="user_pic" ng-src="{{get_user_pic()}}" /> 
					<i class="icon-angle-down" style="font-size: 15px;"></i>
				</a>
				<ul class="dropdown-menu" style="width: 186px; margin-left: 20px; top: 45px; background-color: #fff;">
					<li>
						<div class="identity_div">
							<img id="user_pic_large" ng-src="{{get_user_pic()}}" style="height: 50px;"/>
							<p>
								<strong>{{ _current_global_user.name }}</strong>
								<br />
								{{_current_global_user.email}}
								<br />
								<a class="btn blue_login logout_btn" ng-click=""> Log Out </a>
							</p>
						</div>
					</li>
				</ul>
			</li>
			<li ng-hide="_plugin.hide_plugin" ng-repeat="(name, _plugin) in _plugins | orderBy:'order':true" ng-class="{active:'#'+_active_app_path=='#/'+name}">
				<a href="#/{{name}}">
					<span ng-if="_plugin.title">
						{{_plugin.title}}<i class="{{_plugin.icon}}" ></i>
					</span>
					<span ng-if="!_plugin.title" >
						{{name|uppercase}}<i class="{{_plugin.icon}}" ></i>
					</span>
				</a>
			</li>
			<li>
				<a href="" class="logout_btn" ng-hide="is_anonymous_login()" style="position: fixed; bottom: 0px;"> <span style="background-color: #343434; border-top: 2px solid #484848; font-size: 1.2em;"><i class="icon-signout" ></i>Logout</span> </a>

				<a href="" class="login_btn" ng-show="is_anonymous_login()" style="position: fixed; bottom: 0px;"> <span style="background-color: #343434; border-top: 2px solid #484848; font-size: 1.2em;"><i class="icon-signin" ></i>Sign In</span> </a>
			</li>
		</ul>
		<div class="page-wrap" ui-view ng-cloak>

		</div>
		<!-- <script src="http://static.nimbusfoundry.com/main.min.js"></script> -->
		<script src="https://cdn.firebase.com/js/client/1.1.2/firebase.js"></script>

		<script src="assets/js/md5.min.js"></script> 
		<script src="forum/app.js"></script>
		
	</body>
</html>
