<link href="assets/css/forum.css" rel="stylesheet" />
<link href="assets/css/teststyle.css" rel="stylesheet" />

<div ng-controller="TodoCtrl">
	<!--  -->
	<div class="dash-column-left todo_column">
		<div class="breadcrumb" style="margin-bottom:0px;border-bottom:1px solid #f4f6f8;">
			<h1>Todos</h1>
			<div class="btn-group pull-right">
			  <button class="btn btn-info">Public</button>
			  <button class="btn">Private</button>
			</div>
		</div> 
		<div class="breadcrumb" style="position: relative;">
			<form ng-submit="create_list()">
				<input ng-model="listName" type="text" class="search" ng-init="searchPlaceHolder='Create Todolist'" placeholder="{{searchPlaceHolder}}" ng-focus="searchPlaceHolder='Type and press return'" ng-blur="searchPlaceHolder='Create Todolist'" style="width:100%">
				<input type="submit" style="visibility: hidden; position:absolute;">
			</form>
			<button class="btn btn-success" style="position:absolute; right:10px" ng-click="create_list()">Add</button>
		</div>

		<div class="todo_listing" ng-repeat="(id, list) in todolists" ng-click="show_list(id)" ng-class="{active: id==current_list}" style="position: relative;cursor:pointer;">
			<i class="icon icon-bookmark" ng-show="list.pinned" style="position:absolute;left: 0px;top:0px;color: #1fa086;"></i>
			<div class="middle">
				<span class="name">{{ list.name }}</span>
				<span class="timesago">{{ get_time_from_now(list.created_at) }}</span>
				<br />
				<span class="commenters">{{ get_list_comment_count(list) || ''}}</span>
			</div>
		</div>
	</div>
	<div id="topic_view" style="width:70%">
		<div class="breadcrumb" style="margin-bottom:0px;border-bottom:1px solid #f4f6f8;">
			<h1> </h1>
		</div> 
		<div class="todos row-fluid">
			<br>

			<div class="todo-list">
				<div class="container-fluid">
					<form ng-submit="add_todo()">
						<input type="text" placeholder="Add Todo" ng-model="newTodo">
						<input type="submit" style="visibility: hidden; position:absolute;">
					</form>
				</div>
				<div class="container fluid">
					<ul>
						<li class="list" ng-repeat="(id, todo) in todos">
							<input type="checkbox" >
							<span ng-bind="todo.title"></span>
							<a href="" ng-click="remove_todo(id)"><i class="icon icon-remove"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="todo-detail">
				
			</div>
		</div>
	</div>

</div>