<div class="identity-form container-fluid" style="padding-top:20px;height: 126px;overflow: hidden;">
	<div class="row-fluid l-form-container" style="position: relative;">
	
		<form role="form" class="span6">
		   <div class="form-group">
		        <label for="name">Email</label>
				<input type="text" name="email" placeholder="email">
		   </div>
		   <div class="form-group">
		      	<label for="inputfile">Password</label>
				<input type="password" name="passwd" placeholder="password">
		   </div>
			<button type="submit" id="firebase_login_btn" class="btn btn-success">Sign In</button>
		</form>

		<form role="form" class="span6">
		   <div class="form-group">
		        <label for="name">Email</label>
				<input type="text" name="register" placeholder="email">
		   </div>
		   <div class="form-group">
		      	<label for="inputfile">Password</label>
				<input type="password" name="password" placeholder="password">
		   </div>
			<button type="submit" id="firebase_register_btn" class="btn btn-primary">Sign Up</button>
		</form>
	</div>
</div>