<div ng-controller="HomeCtrl">
	<div class="" id="topic_view" ng-if="auth">
		<div class="breadcrumb">
			<h1>Info</h1>
			<a href="" class="btn btn-danger" ng-click="logout()">Logout</a>
		</div> 
		<div class="container-fluid">
			{{auth.uid}}
		</div>
	</div>
	<div class="container-fluid">
		<div class="identity-form row-fluid" id="topic_view" style="padding-top:20px;" ng-if="!auth">
			<div class="span6" style="padding: 20px 50px;">
				<div class="login-box">
				    <div class="lb-header">
				      <a href="#" class="active" id="login-box-link">Login</a>
				    </div>
				    
				    <form class="email-login">
				      <div class="u-form-group">
				        <input type="email" ng-model="login.email" placeholder="Email"/>
				      </div>
				      <div class="u-form-group">
				        <input type="password" ng-model="login.password" placeholder="Password"/>
				      </div>
				      <div class="u-form-group">
				        <button class="btn btn-success" ng-click="login()">Sign in</button>
				      </div>
				      <div class="u-form-group">
				        <a href="#" class="forgot-password">Forgot password?</a>
				      </div>
				    </form>
				</div>
			</div>

			<div class="span6" style="padding: 20px 50px;">
				<div class="login-box">
				    <div class="lb-header lb-header-register">
				      <a href="#" id="login-box-link">Register</a>
				    </div>
				    
				    <form class="email-login">
				      <div class="u-form-group">
				        <input type="email" ng-model="register.email" placeholder="Email"/>
				      </div>
				      <div class="u-form-group">
				        <input type="password" ng-model="register.password" placeholder="Password"/>
				      </div>
				      <div class="u-form-group">
				        <button class="btn btn-info" ng-click="register_user()">Sign Up</button>
				      </div>
				    </form>
				</div>
			</div>
		</div>
	</div>
</div>
