<div ng-controller="UserCtrl">
	<div class="breadcrumb">
		<h1>Users</h1>
	    <div class="pull-right">
	        <a class="btn outline" ng-click="add_shortcut()">Add User</a>
	    </div>  
	</div>        	
	<div class="container-fluid">
	    <div class="row-fluid">
			<div class="well-content">
					
		        <div ng-repeat="(email,user) in users" class="span4">
	            	<div class="user_listing">
	            		<img class="pic" ng-src="{{user.pic}}" />
	            		<span class="name">{{user.uid}}</span>
	            	</div>
		        </div>
					
				<div class="form modal fade nimbus_form_modal">
					<div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" aria-hidden="true" ng-click="clear()">&times;</button>
					        <h4 class="modal-title">User Form</h4>
					      </div>
					      <div class="modal-body">
					        <model-form model-name="usermodel" form-mode="form_mode" instance-name="user_data" on-create="submit()" on-update="update()"></model-form>
					      </div>
					    </div>
					</div>
				</div>
				<div class="update_form modal fade nimbus_form_modal">
					<div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" aria-hidden="true" ng-click="clear()">&times;</button>
					        <h4 class="modal-title">User Form</h4>
					      </div>
					      <div class="modal-body">
					        <model-form model-name="userEditModel" form-mode="form_mode" instance-name="user_data" on-create="submit()" on-update="update()"></model-form>
					      </div>
					    </div>
					</div>
				</div>
				<div class="modal fade userinfo">
					<div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" aria-hidden="true" ng-click="clear()">&times;</button>
					        <h4 class="modal-title" >User Info</h4>
					      </div>
					      <div class="modal-body">
					        	<dl class="dl-horizontal" id="user_form">
					        		<dt>Name :<dt> 
					        		<dd>{{user_info.name}}</dd>
				        			<dt>Email : </dt><dd>{{user_info.email}}</dd>
					        	</dl>
					      </div>
					    </div>
					</div>
				</div>
			</div>
	    </div>
	</div>
</div>